@import "../scss/variables";
@import "../scss/responsive";

#intro {
  margin-top: 20px;
}

#intro__search {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  background-color: $color-mid-grey;
  border-top: ridge  2px;
  border-color: $color-mid-grey;
  .search__dot {
    margin-right: 10px;
  }
  form {
    display: inline-block;
  }
}

#place-search {
  border: none;
  width: 113px;
  background-color: $color-mid-grey;
}

input::placeholder {
  color: black;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.intro__presentation {
  background-color: $color-light-grey;
  padding: 20px 35px 20px 35px;
  text-align: center;
  align-items: center;
  .presentation__heading {
    font-size: 25px;
  }
  .presentation__byline {
    color: grey;
  }
  .presentation__button {
    background: rgb(255, 121, 218);
    background: linear-gradient(
      90deg,
      rgba(255, 121, 218, 1) 0%,
      rgba(147, 86, 220, 1) 100%
    );
    border: none;
    color: white;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.functioning__heading {
  margin-left: 15px;
}

.functioning__list {
padding: 0px 15px 0px 15px;
}

.list__element {
  display: flex;
  border-style: none;
  border-radius: 20px;
  border-width: 1px;
  align-items: center;
  padding: 20px 0px 20px 30px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  &:hover {
    transition: 0.1s;
    background-color: rgb(239, 220, 241);
  }
  .element__numbers {
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  .element__icon {
    margin-right: 20px;
    color: $color-grey;
    &:hover {
      transition: 0.1s;
      color: $color-primary;
    }
  }
  .element__byline {
    font-size: 18px;
    font-weight: bold;
  }
}
