.background {
  margin: 10px 0px 0px 0px;
  .background__image {
    width: 100%;
    max-width: 390px;
    height: 190px;
    object-fit: cover;
  }
}

#menu {
  background-color: $color-grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 15px;
  margin-top: -50px;
  position: relative;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__compo {
  .compo__title {
    font-weight: 400;
  }
  .compo__byline {
    border-radius: 15px;
    padding: 10px 20px 10px 10px;
    margin-bottom: 15px;
    background-color: white;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    .byline__detail {
      display: flex;
      justify-content: space-between;
    }
  }
}

.order {
  padding: 30px 0px 50px 0px;
  text-align: center;
  align-items: center;
  .order__button {
    background: rgb(255, 121, 218);
    background: linear-gradient(
      90deg,
      rgba(255, 121, 218, 1) 0%,
      rgba(147, 86, 220, 1) 100%
    );
    border: none;
    color: white;
    padding: 15px;
    border-radius: 25px;
    font-size: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}
