/* Tablet section */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 145px 0px 135px;
  }
  .list__element {
    display: flex;
    flex-wrap: wrap;
    max-width: 345px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 450px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}

/* Desktop section */
@media screen and (min-width: 1024px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 345px 0px 335px;
  }
  .list__element {
    display: flex;
    flex-wrap: wrap;
    max-width: 345px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 600px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}
