/* Colors */

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-grey: #f2f2f2;

/* Reset */

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.title__heading,
.footer__heading {
  font-family: "Shrikhand", cursive;
}

#place-search {
  padding: 0;
}

h1 {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}
