/* Colors */
/* Reset */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.title__heading,
.footer__heading {
  font-family: "Shrikhand", cursive;
}

#place-search {
  padding: 0;
}

h1 {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

header {
  margin-top: 30px;
}
header .header__heading {
  text-align: center;
}
header .heading__logo {
  width: 170px;
  height: 30px;
}

/* Colors */
/* Reset */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.title__heading,
.footer__heading {
  font-family: "Shrikhand", cursive;
}

#place-search {
  padding: 0;
}

h1 {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

/* Tablet section */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 145px 0px 135px;
  }

  .list__element {
    max-width: 750px;
  }
  .list__element::before {
    left: 143px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 450px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}
/* Desktop section */
@media screen and (min-width: 1024px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 345px 0px 335px;
  }

  .list__element::before {
    left: 341px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 600px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}
#intro {
  margin-top: 20px;
}

#intro__search {
  display: flex;
  align-items: center;
  height: 50px;
  margin: 0 auto;
  background-color: #EAEAEA;
  border-top: ridge 2px;
  border-color: #EAEAEA;
}
#intro__search .search__dot {
  margin-right: 10px;
}
#intro__search form {
  display: inline-block;
}

#place-search {
  border: none;
  width: 113px;
  background-color: #EAEAEA;
}

input::placeholder {
  color: black;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.intro__presentation {
  background-color: #f6f6f6;
  padding: 20px 35px 20px 35px;
  text-align: center;
  align-items: center;
}
.intro__presentation .presentation__heading {
  font-size: 25px;
}
.intro__presentation .presentation__byline {
  color: grey;
}
.intro__presentation .presentation__button {
  background: #ff79da;
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.functioning__heading {
  margin-left: 15px;
}

.functioning__list {
  padding: 0px 15px 0px 15px;
}

.list__element {
  display: flex;
  border-style: none;
  border-radius: 20px;
  border-width: 1px;
  align-items: center;
  padding: 20px 0px 20px 30px;
  margin-top: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.list__element:hover {
  transition: 0.1s;
  background-color: #efdcf1;
}
.list__element .element__numbers {
  color: white;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
.list__element .element__icon {
  margin-right: 20px;
  color: #b5b3b3;
}
.list__element .element__icon:hover {
  transition: 0.1s;
  color: #9356dc;
}
.list__element .element__byline {
  font-size: 18px;
  font-weight: bold;
}

/* Colors */
/* Reset */
body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: 0 auto;
}

.title__heading,
.footer__heading {
  font-family: "Shrikhand", cursive;
}

#place-search {
  padding: 0;
}

h1 {
  margin: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

#restaurant {
  background-color: #f6f6f6;
  padding: 20px 15px 40px 15px;
  margin: 40px 0px 0px 0px;
}

.restaurant__button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 5px 10px 5px 10px;
  background-color: #99e2d0;
  color: #008d00;
}

.restaurant__card {
  position: relative;
  border-radius: 15px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 15px 0px 15px 0px;
}
.restaurant__card .card__image {
  width: 100%;
  max-width: 737px;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurant__card .card__button {
  position: absolute;
  top: 5%;
  left: 72%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 5px 10px 5px 10px;
  background-color: #99e2d0;
  color: #008d00;
}
.restaurant__card .card__caption {
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
}
.restaurant__card .card__caption .caption__text .text__title {
  margin: 0px 0px 5px 0px;
}
.restaurant__card .card__caption .caption__text .text__byline {
  margin: 0;
  color: grey;
}
.restaurant__card .card__title {
  margin: 0px 0px 5px 0px;
}
.restaurant__card .card__byline {
  margin: 0;
  margin-top: -2px;
  color: grey;
}
.restaurant__card .card__like {
  display: flex;
  justify-content: right;
  padding-right: 25px;
}
.restaurant__card .card__like:hover {
  transition: 0.1s;
  color: #ff79da;
}

.background {
  margin: 10px 0px 0px 0px;
}
.background .background__image {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

#menu {
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 15px;
  margin-top: -50px;
  position: relative;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__compo .compo__title {
  font-weight: 400;
}
.menu__compo .compo__byline {
  border-radius: 15px;
  padding: 10px 20px 10px 10px;
  margin-bottom: 15px;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.menu__compo .compo__byline .byline__detail {
  display: flex;
  justify-content: space-between;
}

.order {
  padding: 30px 0px 50px 0px;
  text-align: center;
  align-items: center;
}
.order .order__button {
  background: #ff79da;
  background: linear-gradient(90deg, #ff79da 0%, #9356dc 100%);
  border: none;
  color: white;
  padding: 15px;
  border-radius: 25px;
  font-size: 16px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

footer {
  background-color: black;
  color: white;
}
footer .footer__heading {
  padding: 15px;
  margin: 0;
  padding: 15px 15px 0px 15px;
}
footer .footer__nav {
  list-style: none;
  padding-left: 15px;
  margin: 16px 0px 0px 0px;
}
footer .footer__nav .nav__link {
  padding-bottom: 5px;
}
footer .footer__nav .nav__link .link__element {
  padding-right: 5px;
}
footer .footer__nav .nav__link .link__mail {
  color: white;
}

/* Tablet section */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 145px 0px 135px;
  }

  .list__element {
    max-width: 750px;
  }
  .list__element::before {
    left: 143px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 450px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}
/* Desktop section */
@media screen and (min-width: 1024px) {
  #functioning {
    text-align: center;
    align-items: center;
    padding: 0px 345px 0px 335px;
  }

  .list__element::before {
    left: 341px;
  }

  .restaurant__heading {
    text-align: center;
  }

  .restaurant__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .restaurant__card {
    width: 100%;
    max-width: 600px;
  }

  .footer__heading {
    text-align: center;
  }

  .footer__nav {
    display: flex;
    justify-content: space-around;
    padding-bottom: 40px;
    padding-right: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
